
:root {
  --blue: #003566;
  --ground-color: #001d3d;

  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Baskervville';
}

.wrapper {
  margin: 0 auto;
}

main {
  margin-bottom: 100px;
  padding: 0 3rem;
}

h1.title-section {
  color: var(--blue);
  font-size: 4rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', sans-serif;
}

.btn-menu {
  cursor: pointer;
  margin-bottom: 2rem;
}

.menu li {
  display: inline-block;
}

.menu.menu-mobile {
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow: none;
}

.menu.menu-mobile.active {
  height: auto;
  margin-bottom: 2rem;
}

.menu a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2rem;
  font-family: 'Bebas Neue';
  padding: 0.5rem;
  margin: 0.5rem 0.2rem;
}

.menu a:first-of-type {
  margin-left: 1rem;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s;
}

/* ===========================
header =======================
==============================*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--ground-color);
  color: white;
  margin-bottom: 5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (max-width: 992px) {
  header {
    flex-direction: column;
  }
}

header a {
  color: inherit;
  text-decoration: none;
}

.header-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

h1.title-site {
  font-family: 'Baskervville';
  font-size: 2.2rem;
}

/* ===========================
footer =======================
==============================*/

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid var(--white);
  margin-top: 40px;
  background-color: var(--ground-color);
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

footer a {
  color: inherit;
}

/* ===========================
codes =======================
==============================*/

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: #f9f9f9;
}

pre code {
  background: none;
}

/* ===========================
médias =======================
==============================*/

hr {
  border-style: dashed;
  color: #ddd;
}

img,
iframe,
video {
  max-width: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: #eee;
}

/* ===========================
posts ========================
==============================*/

.zapper {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.zapper div {
  margin-top: 2rem;
}

.zapper div+div {
  text-align: right;
}

.zapper a {
  border-radius: 5px;
  display: block;
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  background-color: var(--ground-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 100%;
}

.zapper span {
  display: block;
  font-weight: bold;
}

/* ===========================
carrousel ====================
==============================*/

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

.carrousel:not(.pagedjs_pages .carrousel) {
  width: 80%;
  max-width: 1000px;
  overflow: hidden
}

.carrousel .carrousel-container:not(.pagedjs_pages .carrousel .carrousel-container) {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 30s slidy infinite;
}

.carrousel figure:not(.pagedjs_pages .carrousel figure) {
  margin: 0;
  width: 20%;
  height: auto;
  display: inline-block;
}

.carrousel figcaption:not(.pagedjs_pages .carrousel figcaption) {
  font-size: 16px;
}

/* ===========================
other ========================
==============================*/

.no-list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ===========================
HOME ========================
==============================*/
#home .boite {
  width: 70%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#home  h1{
  font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 60px;
    letter-pacing: 5px;
  
}

#home h2 {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 40px; 
  letter-spacing: 6px;
}

#home .center {
  display: flex;
  justify-content: center;
}

#home .arrow {
  width: 60px;
  fill:white;
}
#home .arrow:hover {
  width: 62px;
  fill: #CCA000;
}

#home .buttons {
  width: 45%;
  display: flex;
  font-family: 'Bebas Neue', cursive;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0;

}

#home .button {
  color: white;
  font-size: 30px;
  padding: 10px 30px 10px 30px;
}




#home .button:hover {
  color: #CCA000;
  font-size: 32px;
}

#home a {
  text-decoration: none;
}