
:root {
  --white: rgb(231, 231, 231);
  --blue: #003566;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

h1 {
  color: var(--blue);
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', sans-serif;
}

.menu li {
  display: inline-block;
}

.article-meta,
.menu a {
  color: inherit;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

/* ===========================
header =======================
==============================*/

.menu a:hover {
  background-color: var(--white);
  transition: background-color 0.2s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

/* ===========================
footer =======================
==============================*/

footer {
  border-top: 2px solid var(--white);
  text-align: center;
  margin-top: 40px;
}

.title {
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
}

/* ===========================
codes =======================
==============================*/

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: #f9f9f9;
}

pre code {
  background: none;
}

/* ===========================
médias =======================
==============================*/

hr {
  border-style: dashed;
  color: #ddd;
}

img,
iframe,
video {
  max-width: 100%;
}

main {
  hyphens: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: #eee;
}

/* ===========================
posts ========================
==============================*/

.zapper {
  display: flex;
  justify-content: space-between;
}

.zapper div {
  background: var(--white);
  border-radius: 5px;
}

.zapper div+div {
  text-align: right;
}

.zapper a {
  color: inherit;
  display: block;
  margin: 5px;
  text-decoration: none;
}

.zapper span {
  display: block;
  font-weight: bold;
}

/* ===========================
carrousel ====================
==============================*/

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

.carrousel:not(.pagedjs_pages .carrousel) {
  width: 80%;
  max-width: 1000px;
  overflow: hidden
}

.carrousel .carrousel-container:not(.pagedjs_pages .carrousel .carrousel-container) {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 30s slidy infinite;
}

.carrousel figure:not(.pagedjs_pages .carrousel figure) {
  margin: 0;
  width: 20%;
  height: auto;
  display: inline-block;
}

.carrousel figcaption:not(.pagedjs_pages .carrousel figcaption) {
  font-size: 16px;
}

/* ===========================
other ========================
==============================*/

.no-list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}