{{ partial "header.html" . }}

<main>

  <h1>{{ .Site.Title }}</h1>
  
  {{ .Content }}

  <h1 class="title-section">Éditorial</h1>
  
  {{ with .Site.GetPage "edito.md" }}{{ .Content }}{{ end }}
  
  <h2>Autres parties</h2>
  
  <ul class="no-list-style">
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    <li class="parts">
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  </ul>

</main>


{{ partial "footer.html" . }}