{{ partial "header.html" . }}
<div class="article-meta">
    <h1 class="title-section" style="text-align: center;">Le Masterclass DNHD #3 rediffusion </h1>
</div>
<div style="display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
">
   
    <h2 style="width: 80%; text-align: center; margin: 50 50 50 50:" > Rediffusion de l'intervention de Manuel Zacklad</h2>
    <iframe width="800" height="450" src="https://www.youtube.com/embed/CtN5tp-vU4c?start=427" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div style="width: 80%; margin: 20px;"></div>
    <hr style="width: 80%;">
    <h2 style="width: 80%; text-align: center; margin: 50 50 50 50:" > Rediffusion de la journée d'étude</h2>
    <h3 style="width: 80%;">Partie 1</h3>
    <iframe width="800" height="450" src="https://www.youtube.com/embed/1ow0571PUZc?start=468" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3 style="width: 80%;">Partie 2</h3>
    <iframe width="800" height="450" src="https://www.youtube.com/embed/3sBOx8UOMws?start=30" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{{ partial "footer.html" . }}