{{ partial "header.html" . }}
<div class="article-meta">
    <h1 class="title-section" style="text-align: center;">Live du Masterclass DNHD #3</h1>
</div>
<div style="display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/CtN5tp-vU4c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

{{ partial "footer.html" . }}