{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
</div>

<main>
{{ .Content }}
</main>

<div class="zapper">
    {{ if not (eq .Params.prev false)  }}
    <div class="zapper-next">
        {{ if .NextInSection }}
        <a href="{{ .NextInSection.RelPermalink }}">Précédent :
            <span>{{ .NextInSection.Title }}</span></a>
        {{ end }}
    </div>
    {{ end }}

    {{ if not (eq .Params.next false)  }}
    <div class="zapper-prev">
        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.RelPermalink }}">Suivant :
            <span>{{ .PrevInSection.Title }}</span></a>
        {{ end }}
    </div>
    {{ end }}
</div>

{{ partial "footer.html" . }}
