@media print {

  /* h1 will be used to define running head */
  h1 {
    string-set: title content(text);
  }
  @page:first {
    margin: 0;
    size: A4;

    background: url(../../images/home_mobile.png) no-repeat center center fixed; max-height: 100vh;
height: 100vh;
margin: 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    @top-left {
      display: none;
    }
    @bottom-right {
      display: none;
    }
  }

  @page {
    size: A4;
    margin-top: 15mm;
    margin-left: 30mm;
    margin-right: 30mm;
    margin-bottom: 30mm;

    @bottom-right {
      content: counter(page);
      font-size: 1.3rem;
    }

    @top-left {
      content: string(title);
      font-size: 1.3rem;
    }
  }
  
  #cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    break-after: page;
  }

  #cover h1 { position: absolute; font-size: 10rem; color: white; text-align: center;}
  #cover h2 { position: absolute; color: white; }
  #cover img { 
    max-height: 100vh;
    height: 100vh;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  object-fit: cover;}
}