<article class="carrousel">
    <div class="carrousel-container">
        <figure>
            <img src="/images/sample.jpg" alt="">
            <figcaption>Lorem, ipsum. 1</figcaption>
        </figure>

        <figure>
            <img src="/images/sample.jpg" alt="">
            <figcaption>Lorem, ipsum. 2</figcaption>
        </figure>

        <figure>
            <img src="/images/sample.jpg" alt="">
            <figcaption>Lorem, ipsum. 3</figcaption>
        </figure>

        <figure>
            <img src="/images/sample.jpg" alt="">
            <figcaption>Lorem, ipsum. 4</figcaption>
        </figure>

        <figure>
            <img src="/images/sample.jpg" alt="">
            <figcaption>Lorem, ipsum. 5</figcaption>
        </figure>
    </div>
</article>