<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
    {{ partial "pagedjs-header.html" . }}
</head>

<body>

  <div id="cover">
    {{ .Content }}
  </div>

  <div id="content">
    {{ $pages := .Pages }}
    {{ $pages = .Site.RegularPages }}
    {{ range (where $pages "Section" "!=" "") }}
  
    <h1 class="title-section">{{ .Title }}</h1>
    {{ .Content }}
  
    {{ end }}
  </div>

</body>

</html>